*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/libraries
/.idea/caches
/build
/app/build
.DS_Store
.cxx
.externalNativeBuild
capture.png
*.apk
*.ap_
*.aab
